<header class="header">
			<ul class="header__middle">
			<li>
				<li><a class="header__nav__btn" href="#">Model S</a></li>
				<li><a class="header__nav__btn" href="#">Model 3</a></li>
				<li><a class="header__nav__btn" href="#">Model X</a></li>
				<li><a class="header__nav__btn" href="#">Model Y</a></li>
				<li><a class="header__nav__btn" href="#">solar roof</a></li>
				<li><a class="header__nav__btn" href="#">solar panels</a></li>
			</li>
			</ul>
			<div class="header__right">
				<%=link_to "Modify",edit_car_path,class: "header__nav__btn"%>
				<%=link_to "Update",car_path,class: "header__nav__btn"%>
				<%=link_to "new car",new_car_path,class: "header__nav__btn"%>
			</div>
</header>